$color1: red;
$color2: blue;
$color3: orange;
$color4: green;
$color5: purple;
$transparant: rgba(0, 0, 0, 0);
$hover-color: rgba(white, .1);

body {
  margin: 0;
  background-color: rgb(15, 15, 15);
  color: white;
  display: flex;
  #git {
    display: flex;
    flex-direction: column;
    height: 100%;
    .row {
      display: flex;
      flex-direction: row;
      height: 30px;
      min-width: 500px;
      &:hover {
        background-color: $hover-color;
      }
      .tag {
        width: 88px;
        height: 12px;
        padding: 5px;
        margin: 3px 0;
        display: flex;
        align-items: center;
        border-radius: 2px;
        &.color1 {
          background-color: rgba($color1, 0.5);
          border: solid 1px $color1;
        }
        &.color2 {
          background-color: rgba($color2, 0.5);
          border: solid 1px rgba($color2, 1);
        }
        &.color3 {
          background-color: rgba($color3, 0.5);
          border: solid 1px rgba($color3, 1);
        }
        &.color4 {
          background-color: rgba($color4, 0.5);
          border: solid 1px rgba($color4, 1);
        }
        &.color5 {
          background-color: rgba($color5, 0.5);
          border: solid 1px rgba($color5, 1);
        }
      }

      .block {
        height: 30px;
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .hline,
        .vline,
        .b-s {
          position: absolute;
        }
      }

      .bullet {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        align-self: center;
        &.b-s {
          height: 16px;
          width: 16px;
          margin: 7px;
          position: relative;
        }
        &.b-img {
          height: 24px;
          width: 24px;
          border: 3px solid;
          overflow: hidden;
          img {
            width: 24px;
            height: 24px;
          }
        }
        &.color1 {
          background-color: $color1;
          border-color: $color1;
        }
        &.color2 {
          background-color: $color2;
          border-color: $color2;
        }
        &.color3 {
          background-color: $color3;
          border-color: $color3;
        }
        &.color4 {
          background-color: $color4;
          border-color: $color4;
        }
        &.color5 {
          background-color: $color5;
          border-color: $color5;
        }
      }
      .hline {
        width: 30px;
        height: 13px;
        margin-top: 13px;
        border-top: 4px solid;
        &.hl-r {
          width: 15px;
          right: 0;
        }
        &.hl-l {
          width: 15px;
          left: 0;
        }
        &.hl-h {
          height: 14px;
          margin-top: 14px;
          border-width: 2px;
        }
      }
      .vline {
        width: 13px;
        height: 30px;
        margin-right: 13px;
        border-right: 4px solid;
      }
      .topcornerline {
        width: 13px;
        height: 13px;
        margin: 13px 13px 0 0;
        border-top: 4px solid;
        border-right: 4px solid;
        border-radius: 0 15px 0 0;
      }
      .bottomcornerline {
        width: 13px;
        height: 13px;
        margin: 0 13px 13px 0;
        border-bottom: 4px solid;
        border-right: 4px solid;
        border-radius: 0 0 15px 0;
      }
      .hline,
      .vline,
      .topcornerline,
      .bottomcornerline {
        &.color1 {
          border-color: $color1;
        }
        &.color2 {
          border-color: $color2;
        }
        &.color3 {
          border-color: $color3;
        }
        &.color4 {
          border-color: $color4;
        }
        &.color5 {
          border-color: $color5;
        }
      }
      .spacer-1 {
        margin-left: 130px;
      }
      .commit {
        display: flex;
        width: auto;
        height: 30px;
        align-self: center;
        > div:first-child {
          width: 50px;
          border-right: 3px solid;
          margin: 3px 10px 3px 0;
        }
        > div:last-child {
          align-self: center;
        }
        &.c-1 > div:first-child {
          width: 80px;
        }
        &.c-2 > div:first-child {
          width: 110px;
        }
        &.c-3 > div:first-child {
          width: 140px;
        }
        &.c-4 > div:first-child {
          width: 170px;
        }
        &.color1 > div:first-child {
          border-color: $color1;
          background: linear-gradient(
            to right,
            $transparant 0%,
            rgba($color1, 0.2) 50%,
            rgba($color1, 0.5) 100%
          );
        }
        &.color2 > div:first-child {
          border-color: $color2;
          background: linear-gradient(
            to right,
            $transparant 0%,
            rgba($color2, 0.2) 50%,
            rgba($color2, 0.5) 100%
          );
        }
        &.color3 > div:first-child {
          border-color: $color3;
          background: linear-gradient(
            to right,
            $transparant 0%,
            rgba($color3, 0.2) 50%,
            rgba($color3, 0.5) 100%
          );
        }
        &.color4 > div:first-child {
          border-color: $color4;
          background: linear-gradient(
            to right,
            $transparant 0%,
            rgba($color4, 0.2) 50%,
            rgba($color4, 0.5) 100%
          );
        }
        &.color5 > div:first-child {
          border-color: $color5;
          background: linear-gradient(
            to right,
            $transparant 0%,
            rgba($color5, 0.2) 50%,
            rgba($color5, 0.5) 100%
          );
        }
      }
    }
  }
}
